/*==== post Grid Style ===== */

.pb-5 {
    padding-bottom: 25px;
}

.tpia-post-content-box {
    box-shadow: 0px 10px 30px 0px rgb(0,0,0,0.1);
    background: #fff;
    height: 100%;
    flex-direction: column;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 0px;
}

.tpia-post-content-box .tpia-content-area {
    padding: 20px 20px 0px 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.tpia-post-meta-data {
    display: flex;
    justify-content: space-between;
}
.tpia-category {
    padding-left: 20px;
    padding-right: 20px;
}
.tpia-category span,
.tpia-post-content-box .tpia-post-meta-data a{
    color: #333;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.5;
    transition: color 0.3s ease-in-out!important;
    padding: 4px 12px;
    background-color: #f4f4f4;
    border-radius: 10px;
    border: 1px solid #222;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    display: inline-block;
}

.tpia-post-title {
    padding-top: 15px;
    padding-bottom: 15px;
}

.tpia-post-title a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.tpia-post-content {
    padding-bottom: 15px;
}

.tpia-post-btn {
    padding: 10px 25px 20px;
}

.tpia-post-btn a{
    color: #333;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/* ===========
Side By Side
=============== */
.tpia-post-side-content-box {
    box-shadow: 0px 10px 30px 0px rgb(0,0,0,0.1);
    background: #fff;
    height: 100%;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 0px;
    align-items: center;
    justify-content: space-between;
}

.tpia-post-side-content-box .tpia-post-thumb {
    width: 40%;
    height: 100%;
}
.tpia-post-side-content-box .tpia-post-thumb img{
    height: 100%;
    object-fit: cover;
}
.tpia-post-side-content-box .tpia-content-area {
    width: 60%;
    padding: 10px 10px 10px 15px;
}

.title-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical!important;
    overflow: hidden!important;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.tpia-post-side-content-box .tpia-post-title {
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
}

.tpia-post-side-content-box .tpia-post-title a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}
.tpia-post-title a:focus,
.tpia-post-title a:visited,
.tpia-post-title a:hover {
    color: #333;
}
.tpia-post-side-content-box .tpia-post-btn{
    padding: 0px 0 10px;
}
.tpia-post-side-content-box .tpia-post-btn a{
    font-size: 12px;
    line-height: 16px;
}

.tpia-post-side-content-box .tpia-post-meta-data .tpia-date-meta {
    color: #333;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 1.5;
    transition: color 0.3s ease-in-out!important;
    margin-right: 2px;
    margin-bottom: 5px;
    display: inline-block;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 1
}

.swiper-container .swiper-button-prev {
    width: 30px;
    height: 30px;
    left: 30px;
    top: 50%;
    border-radius: 50px 50px 50px 50px;
    background: #7a56ff;
}

.swiper-container .swiper-button-next {
    width: 30px;
    height: 30px;
    right: 30px;
    top: 50%;
    border-radius: 50px 50px 50px 50px;
    background: #7a56ff;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    font-size: 12px;
    color: #fff;
}

.swiper-container .swiper-pagination {
    margin-top: 50px;
    position: relative;
}


.swiper-container .tpia-post-side-content-box .tpia-post-thumb {
    height: 133px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #7a56ff;
}

/* ================
    taxonomy grid style 
=====================*/
.tpai-taxonomy-box {
    box-shadow: 0px 10px 30px 0px rgb(0,0,0,0.1);
    background: #fff;
    height: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 0px;
    align-items: center;
    justify-content: space-between;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    z-index: 10;
}
.tpai-taxonomy-box::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,1);
    content: '';
    opacity: .1;
}

.tpai-cat-title {

}

.tpia-cat-count {
    width: 30px;
    height: 30px;
    border-radius: 50px 50px 50px 50px;
    background: #7a56ff;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.tpai-cat-content {
    padding: 15px;
    z-index: 11;
}
.tpai-category-content-wrapper .tpai-cat-content .tpai-cat-title a {
    color: #fff;
}
.tpai-cat-content .tpai-cat-title a{
    color: #333;
}

.tpai-img-wrapper {
    z-index: 11;
}
.tpai-category-content-wrapper .tpai-cat-content .tpai-cat-title {
    padding-top: 40px;
    padding-bottom: 0;
}









