.tpai-preview {
	max-width: 400px;
	max-height: 150px;
}

#tpai-change-image,
#tpai-remove-image {
	width: auto;
}

#tpai-thumbnail {
	margin-top: 5px;
}
#tpai-thumbnail img {
	border: 1px solid #888;
}
